* {
  box-sizing: border-box;
  font-family: "ALS Hauss Regular";
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }
}

body {
  margin: 0;
}

@mixin textstayle($font-size, $font-weight, $font-family, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 18px 0;
}

.header__icon-ryaan {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__bottom-line {
  height: 48px;
  border: 0.5px solid #1b14001f;
}

.header__ryaan-text {
  @include textstayle(14px, 400, ALS Hauss Regular, #1b1400);
  letter-spacing: 2%;
  text-decoration: none;
}

.header__link-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__link-project {
  @include textstayle(14px, 400, ALS Hauss Regular, #1b1400);
  letter-spacing: 2%;
  text-decoration: none;
}

.header__section-help {
  border: none;
  @include textstayle(14px, 400, ALS Hauss Regular, #1b1400);
  letter-spacing: 2%;
  position: relative;
  cursor: pointer;
}
.header__section-help:hover .header__heddin-link {
  display: flex;
  opacity: 1;
  z-index: 999;
}

.header__login_enter {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  gap: 8px;
  @include textstayle(14px, 400, ALS Hauss Regular, #1b1400);
  letter-spacing: 2%;
  padding: 12px 16px;
  background-color: #ffcc33;
  z-index: 10;
}

.header__icon-bars-mobile {
  display: none;
}

.header__login_enter:hover {
  background-color: #e9b828;
}
.header__login_enter:active {
  transform: scale(0.98);
}

.header__heddin-link {
  width: 269px;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  gap: 4px;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: -100px;
  transition: 0.5s;
  // display: none;
  opacity: 0;
  z-index: -9;
  box-shadow: 0 0 10px black;

  a {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #f6f6f6;
    text-decoration: none;
    color: #1b1400;
    opacity: 80%;
    transition: 0.3s;
    cursor: pointer;
  }
  a:hover {
    background-color: #ffcc33;
  }
  a:active {
    transform: scale(0.98);
  }
}

@media screen and (max-width: 535px) {
  .header__link-wrapper {
    display: none;
  }
  .header__bottom-line {
    display: none;
  }
  .header__ryaan-text {
    display: none;
  }
  .header__icon-bars-mobile {
    display: block;
  }
}
