@mixin textstayle($font-size, $font-weight, $font-family, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.footer {
  ul,
  li {
    padding: 0;
    margin: 0;
  }
}

.footer__wrapper {
  padding: 48px 0 72px 0;
}

.footer__list-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  ul {
    list-style: none;
    a {
      text-decoration: none;
      padding-bottom: 12px;
      @include textstayle(14px, 400, ALS Hauss, #a4a199);
    }
  }
}

.footer__list {
  h3 {
    margin: 0;
  }
}

.footer__list-text {
  max-width: 150px;
  width: 100%;

  @include textstayle(14px, 400, ALS Hauss, #1b1400);
}
.footer__list-link-wrapper {
  display: flex;
  gap: 30px;
}
.footer__list-link {
  li {
    line-height: 36px;
  }
}

.footer__list-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list2 {
  li {
    line-height: 36px;
  }
}

.Footer__list-title2 {
  padding-bottom: 20px;
}

.footer__line {
  border: 0.5px solid #c4c4c499;
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 32px 0;
}

.footer__copyright-text {
  max-width: 240px;
  width: 100%;
  @include textstayle(14px, 400, ALS, #a4a199);
}

@media screen and (max-width: 845px) {
  .footer__list-wrapper {
    flex-direction: column;
  }
  .footer__list-link-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .footer__list-text {
    max-width: 262px;
  }
  .footer__list-img {
    flex-direction: row;
    align-items: end;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__wrapper {
    padding: 32px 0;
  }
}
