* {
  box-sizing: border-box;
  font-family: "ALS Hauss Regular";
}
* p,
* h1,
* h2,
* h3,
* h4,
* h5 {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "ALS Hauss Regular";
  src: url("https://db.onlinewebfonts.com/t/acadfdfc97cd213de5a5609200dd5906.eot");
  src: url("https://db.onlinewebfonts.com/t/acadfdfc97cd213de5a5609200dd5906.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/acadfdfc97cd213de5a5609200dd5906.woff") format("woff"), url("https://db.onlinewebfonts.com/t/acadfdfc97cd213de5a5609200dd5906.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/acadfdfc97cd213de5a5609200dd5906.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/acadfdfc97cd213de5a5609200dd5906.svg#ALS Hauss Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 18px 0;
}

.header__icon-ryaan {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__bottom-line {
  height: 48px;
  border: 0.5px solid rgba(27, 20, 0, 0.1215686275);
}

.header__ryaan-text {
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 14px;
  color: #1b1400;
  letter-spacing: 2%;
  text-decoration: none;
}

.header__link-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__link-project {
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 14px;
  color: #1b1400;
  letter-spacing: 2%;
  text-decoration: none;
}

.header__section-help {
  border: none;
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 14px;
  color: #1b1400;
  letter-spacing: 2%;
  position: relative;
  cursor: pointer;
}

.header__section-help:hover .header__heddin-link {
  display: flex;
  opacity: 1;
  z-index: 999;
}

.header__login_enter {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  gap: 8px;
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 14px;
  color: #1b1400;
  letter-spacing: 2%;
  padding: 12px 16px;
  background-color: #ffcc33;
  z-index: 10;
}

.header__icon-bars-mobile {
  display: none;
}

.header__login_enter:hover {
  background-color: #e9b828;
}

.header__login_enter:active {
  transform: scale(0.98);
}

.header__heddin-link {
  width: 269px;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  gap: 4px;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: -100px;
  transition: 0.5s;
  opacity: 0;
  z-index: -9;
  box-shadow: 0 0 10px black;
}
.header__heddin-link a {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #f6f6f6;
  text-decoration: none;
  color: #1b1400;
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
}
.header__heddin-link a:hover {
  background-color: #ffcc33;
}
.header__heddin-link a:active {
  transform: scale(0.98);
}

@media screen and (max-width: 535px) {
  .header__link-wrapper {
    display: none;
  }
  .header__bottom-line {
    display: none;
  }
  .header__ryaan-text {
    display: none;
  }
  .header__icon-bars-mobile {
    display: block;
  }
}
.main__mini-house_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px 0;
}

.main__house-text {
  font-family: "ALS Hauss Regular";
  font-weight: 800;
  font-size: 12px;
  color: #1b1400;
  opacity: 40%;
}

.line {
  border: 0.5px solid rgba(196, 196, 196, 0.6);
}

.main__appeals-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 24px 0 8px 0;
}

.main__appeals-title {
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 32px;
  color: #000;
}

.main__appeals-title-button {
  font-family: ALS Hauss;
  font-weight: 400;
  font-size: 14px;
  color: #1b1400;
  padding: 12px 24px;
  border: none;
  background-color: #ffcc33;
  border-radius: 8px;
  transition: 0.4s;
}

.main__appeals-title-button:hover {
  background-color: #ebb511;
}

.main__appeals-title-button:active {
  transform: scale(0.98);
}

.main__appeals-text-wrapper {
  max-width: 486px;
  width: 100%;
  padding: 0 0 24px 0;
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.main__appeals-number-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
}

.main__appeals-number {
  display: flex;
  width: 100%;
  gap: 8px;
}

.main__appeals-filtr {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main__checkbox-hidden {
  display: none;
}

#runn:checked ~ .main__hidden-wrapper {
  display: flex;
}

.main__hidden-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 20px 0 20px 0;
  display: none;
}

.main__hidden-serch {
  max-width: 262px;
  width: 100%;
  padding: 14px 16px;
  border: none;
  outline: none;
  background-color: rgba(27, 20, 0, 0.0784313725);
  border-radius: 8px;
}

.main__select-kategori {
  max-width: 442px;
  width: 100%;
  padding: 14px 16px;
  border: none;
  outline: none;
  background-color: rgba(27, 20, 0, 0.0784313725);
  border-radius: 8px;
}

.select-width {
  max-width: 112px;
  width: 100%;
}

.select__width {
  max-width: 210px;
  width: 100%;
}

.main__appls-bc {
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  background-color: #f6f6f6;
}

.main__appls-bc:hover {
  background-color: #ffcc33;
}

.main__appls-bc:active {
  transform: scale(0.98);
}

.complaints {
  background: #f6f6f6;
}

.complaints-wrapper {
  background: #f6f6f6;
  padding: 16px 0;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.main__complaints-wrapper {
  max-width: 690px;
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  position: relative;
}

.main__complaints-number-call {
  display: flex;
  gap: 8px;
}

.main__complaints-buton {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: -14px;
  color: #000;
}

.main__complaints-buton-bc {
  background: rgba(255, 204, 51, 0.1607843137);
}

.main__complaints-title {
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  letter-spacing: 2%;
  padding: 16px 0 12px 0;
}

.main__complaints-text {
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 16px;
  color: #1b1400;
  line-height: 24.4px;
  opacity: 80%;
}

.main__complaints-img-wrapper {
  display: flex;
  gap: 4px;
  overflow-x: scroll;
  padding: 24px 0;
  scroll-behavior: smooth;
}

.main__complaints-img-wrapper::-webkit-scrollbar {
  display: none;
}

.main__complaints-img-scroll-wrapper {
  position: absolute;
  right: 25px;
  bottom: 125px;
}

.main__complaints-butoon-details {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #ffcc33;
  cursor: pointer;
}

.main__complaints-butoon-details:hover {
  background-color: #ffc311;
}

.main__complaints-butoon-details:active {
  transform: scale(0.98);
}

.main__complaints-number-wrapper {
  max-width: 330px;
  width: 100%;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
}

.main__complaints-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 40px;
  color: #000;
}

.main__complaints-number-text {
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  opacity: 60%;
}

.main__complaints-number-joining {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.main__complaints-like {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #ffcc33;
  font-family: ALS Hauss Regular;
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

.main__number-text-wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.main__number-p-bc {
  font-family: ALS Hauss Regular;
  font-weight: 500;
  font-size: 12px;
  color: rgba(27, 20, 0, 0.4);
}

.main__number-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px 0 64px 0;
}

.main__button_run {
  padding: 10px 14px;
  border: none;
  background-color: #eaeaea;
  border-radius: 8px;
}

.main__button_run:hover {
  background-color: #ffc311;
}

.footer ul,
.footer li {
  padding: 0;
  margin: 0;
}

.footer__wrapper {
  padding: 48px 0 72px 0;
}

.footer__list-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__list-wrapper ul {
  list-style: none;
}
.footer__list-wrapper ul a {
  text-decoration: none;
  padding-bottom: 12px;
  font-family: ALS Hauss;
  font-weight: 400;
  font-size: 14px;
  color: #a4a199;
}

.footer__list h3 {
  margin: 0;
}

.footer__list-text {
  max-width: 150px;
  width: 100%;
  font-family: ALS Hauss;
  font-weight: 400;
  font-size: 14px;
  color: #1b1400;
}

.footer__list-link-wrapper {
  display: flex;
  gap: 30px;
}

.footer__list-link li {
  line-height: 36px;
}

.footer__list-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list2 li {
  line-height: 36px;
}

.Footer__list-title2 {
  padding-bottom: 20px;
}

.footer__line {
  border: 0.5px solid rgba(196, 196, 196, 0.6);
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 32px 0;
}

.footer__copyright-text {
  max-width: 240px;
  width: 100%;
  font-family: ALS;
  font-weight: 400;
  font-size: 14px;
  color: #a4a199;
}

@media screen and (max-width: 845px) {
  .footer__list-wrapper {
    flex-direction: column;
  }
  .footer__list-link-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .footer__list-text {
    max-width: 262px;
  }
  .footer__list-img {
    flex-direction: row;
    align-items: end;
  }
  .footer__copyright {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__wrapper {
    padding: 32px 0;
  }
}/*# sourceMappingURL=stayle.css.map */